<div class="">
  <%= select_tag :sort,options_for_select(["НЕщодавно додані","Новіші","Cтаріші"],"НЕщодавно додані"),onchange:"select_sort(this)"%>
</div>
<div class="row" id="movies">
  <%=render @movies%>
</div>
